*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
#map {
    background-color: #6d776d;
    height: 100vh;
  }
  body {
    background-color: #f8f9fa;
}
.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
    max-width: 800px; /* Limite la largeur maximale du formulaire */
}
.form-title {
    color: #007bff;
    margin-bottom: 30px;
}
.btn-submit {
    background-color: #007bff;
    border: none;
    padding: 10px 30px;
}
.btn-submit:hover {
    background-color: #0056b3;
}
.custom-popup .mapboxgl-popup-close-button {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.status-future {
    color: green;
    font-weight: bold;
}

.status-soon {
    color: orange;
    font-weight: bold;
}

.status-past {
    color: red;
    font-weight: bold;
}
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#searchButton {
    width: 100%;
    padding: 10px;
}